.left,
.right {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50%;
}

.left {
    left: 0;
    background-color: #3f51b5;
}

.right {
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field {
    font-size: 14px;
    width: 400px;
}

.login-form-btn {
    width: 400px;
    height: 46px;
    font-size: 14px;
}

.heading {
    color: #3f51b5;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}