<div class="left"></div>
<div class="right">
    <div>
        <h1 class="heading">Weather App</h1>
        <!-- <br> -->
        <form #loginForm="ngForm">
            <mat-form-field appearance="outline" class="form-field">
                <input matInput placeholder="username" name="username" [(ngModel)]="username" required>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="form-field">
                <input matInput placeholder="password" name="password" [type]="hide ? 'password' : 'text'"
                    [(ngModel)]="password" required>
                <mat-icon class="show-cursor" matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <br>
            <button mat-raised-button color='primary' [disabled]="!loginForm.form.valid" class="login-form-btn"
                (click)="login()">Login</button>

        </form>
    </div>
</div>