.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    /* height: 100%; */
}
.section {
    flex: 1;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* font-size: 2em; */
}
.section-1 {
    text-align: center;
    width: 80%;
}
.section-2 {
    text-align: center;
    width: 80%;
}
@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}

.form-field {
    font-size: 14px;
    width: 300px;
}

.searchBtn {
    width: 300px;
    height: 46px;
    font-size: 14px;
}

.weatherCard {
    margin: 10px;
}

.chip-list {
    width: 100%;
  }