<app-navbar></app-navbar>

<div class="container">
    <div class="section section-1">
        <div>
            <form #searchForm="ngForm">
                <h2>Search weather by city</h2>
                <mat-form-field appearance="outline" class="form-field">
                    <input matInput placeholder="city name" name="city" [(ngModel)]="city" required>
                </mat-form-field>
                <br>

                <button mat-raised-button color='primary' class='searchBtn' [disabled]="!searchForm.form.valid"
                    (click)="search()">Search</button>
            </form>
        </div>
        <br>
        <div>
            <mat-card appearance="outline" class="weatherCard" *ngIf="weatherData">
                <mat-card-content>
                    <p>City: {{weatherData && weatherData['coordinates']['query']}}</p>
                    <p>Identified City: {{weatherData && weatherData['coordinates']['displayName']}}</p>
                    <p>Temperature: {{weatherData && weatherData['weather']['current']['temperature_2m']}}</p>
                    <p>Precipitation: {{weatherData && weatherData['weather']['current']['precipitation'] * 100}}%</p>
                    <p>Last updated: {{weatherData && weatherData['weather']['current']['time']}} GMT</p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
    <div class="section section-2">
        <div>
            <form #tickerForm="ngForm">
                <h2>Realtime weather updates</h2>
                <mat-form-field class="chip-list" appearance="outline">
                    <mat-chip-list #chipList>
                      <mat-chip *ngFor="let city of cities"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="remove(city)">
                        {{city}}
                        <mat-icon matChipRemove *ngIf="removable && !isRunning">cancel</mat-icon>
                      </mat-chip>
                      <input matInput [readonly]="isRunning"
                        placeholder="Add city..."
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                    </mat-form-field>
                  
                  
                  
                <br>

                <button mat-raised-button color='primary' class='searchBtn' [disabled]="!tickerForm.form.valid" *ngIf="!isRunning"
                    (click)="searchTicker()">Start ticker</button>

                    <button mat-raised-button color='primary' class='searchBtn' *ngIf="isRunning"
                    (click)="stopTimer()">Stop ticker</button>
            </form>
        </div>
        <br>
        <div>
            <mat-card appearance="outline" class="weatherCard" *ngFor="let weatherData of weatherDataTicker">
                <mat-card-content>
                    <p>City: {{weatherData && weatherData['coordinates']['query']}}</p>
                    <p>Identified City: {{weatherData && weatherData['coordinates']['displayName']}}</p>
                    <p>Temperature: {{weatherData && weatherData['weather']['current']['temperature_2m']}}</p>
                    <p>Precipitation: {{weatherData && weatherData['weather']['current']['precipitation'] * 100}}%</p>
                    <p>Last updated: {{weatherData && weatherData['weather']['current']['time']}} GMT</p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>