html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #fafafa; }

.snackbar {
    width: 14.38rem;
    height: fit-content;
    opacity: 1 !important;
    border-radius: 0.25rem !important;
    box-shadow: 0 0.19rem 0.38rem 0 rgba(0, 0, 0, 0.16);
    color: #fff;
    margin-top: 3.5rem !important;
}
.snackbar img {
    margin-right: 0.63rem;
    margin-top: 0.1rem;
}
.snackbar .snackbar-text {
    margin: auto 0px;
}
.snackbar.info {
    background-color: #0080ff;
}
.snackbar.success {
    background-color: #71d885;
}
.snackbar.warning {
    background-color: #fb0;
}
.snackbar.error {
    background-color: #ff6868;
}